# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# VSCode / IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Logs
logs/
*.log

# Streamlit
.streamlit/

# Google / ADK
.adk/

